<!DOCTYPE html>
<html>

<head>
  <meta name="" content="width=device-width, initial-scale=1">
  <title>HeathBlocks Server</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <h2> HeathBlocks Server</h2> 
  <h2>{{val}}</h2>
</body>

</html>