<!DOCTYPE html>
<html>

<head>
  <meta name="" content="width=device-width, initial-scale=1">
  <title>HeathBlocks Server</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <p> HeathBlocks Server</br> 
  {{val}}</p>
</body>

</html>